@media (max-width: 60em) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 50em) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 45em) {
  html {
    font-size: 45%;
  }
}
/*@media (max-width: 35em) {

}
@media (max-width: 35em) {

} */
@media (max-width: 35em) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 30em) {
  html {
    font-size: 30%;
  }
}
